# ignore macOS and Linux files
.DS_Store
Thumbs.db
*.DS_Store
*.swp

.devenv/
.direnv/
result
result-*
/.pre-commit-config.yaml
.pre-commit-config.yaml

# IDEs
**/.idea/
**/.vs/
**/.vscode/
**/packages/
